if SHIELD_TWS50SKB_LEFT

config ZMK_KEYBOARD_NAME
    default "tws50skb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_TWS50SKB_LEFT

if SHIELD_TWS50SKB_LEFT || SHIELD_TWS50SKB_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_TWS50SKB_LEFT || SHIELD_TWS50SKB_RIGHT
